*.dacpac
*.dbmdl
*.dll
*.pdb
*.suo
*.user
ASX.BusinessLayer/bin/Debug/*
ASX.BusinessLayer/obj/Debug/*
ASX.Common/bin/Debug/*
ASX.Common/obj/Debug/*
ASX.DataAccess/bin/Debug/*
ASX.DataAccess/obj/Debug/*
ASX.Database/bin/Debug/*
ASX.Database/obj/Debug/*