*.dacpac
*.dbmdl
*.dll
*.pdb
*.suo
*.user
ASX.Database/bin/Debug/ASX.Database.dacpac
ASX.Database/bin/Debug/ASX.Database.dll
ASX.Database/bin/Debug/ASX.Database.pdb
ASX.Database/bin/Debug/ASX.Database.publish.sql
ASX.Database/bin/Debug/ASX.Database.sql
ASX.Database/bin/Debug/ASX.Test.Database.publish.sql
ASX.Database/bin/Debug/ASX_1.Test.Database.publish.sql
ASX.Database/bin/Debug/DeploymentReport.txt
ASX.Database/bin/Debug/DeploymentReport_1.txt
ASX.Database/bin/Debug/DeploymentReport_2.txt
ASX.Database/obj/Debug/ASX.Database.dll
ASX.Database/obj/Debug/ASX.Database.pdb
ASX.Database/obj/Debug/ASX.Database.sqlproj.FileListAbsolute.txt
ASX.Database/obj/Debug/Model.xml
ASX.Online/bin/ASX.Online.dll.config
ASX.Online/bin/DotNetOpenAuth.AspNet.xml
ASX.Online/bin/DotNetOpenAuth.Core.xml
ASX.Online/bin/DotNetOpenAuth.OAuth.Consumer.xml
ASX.Online/bin/DotNetOpenAuth.OAuth.xml
ASX.Online/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
ASX.Online/bin/DotNetOpenAuth.OpenId.xml
ASX.Online/bin/EntityFramework.xml
ASX.Online/bin/Microsoft.Data.Edm.xml
ASX.Online/bin/Microsoft.Data.OData.xml
ASX.Online/bin/Microsoft.Web.WebPages.OAuth.xml
ASX.Online/bin/Newtonsoft.Json.xml
ASX.Online/bin/System.Spatial.xml
ASX.Online/bin/System.Web.Helpers.xml
ASX.Online/bin/System.Web.Http.OData.xml
ASX.Online/bin/System.Web.Mvc.xml
ASX.Online/bin/System.Web.Razor.xml
ASX.Online/bin/System.Web.WebPages.Deployment.xml
ASX.Online/bin/System.Web.WebPages.Razor.xml
ASX.Online/bin/System.Web.WebPages.xml
ASX.Online/bin/WebMatrix.Data.xml
ASX.Online/bin/WebMatrix.WebData.xml
ASX.Online/obj/Debug/ASX.Online.csproj.FileListAbsolute.txt
ASX.Online/obj/Debug/ASX.Online.csprojResolveAssemblyReference.cache
ASX.Online/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASX.Online/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ASX.Online/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ASX.Online/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ASX.Online.Tests/bin/Debug/ASX.Online.Tests.dll.config
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.AspNet.xml
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.Core.xml
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.OAuth.Consumer.xml
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.OAuth.xml
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.OpenId.RelyingParty.xml
ASX.Online.Tests/bin/Debug/DotNetOpenAuth.OpenId.xml
ASX.Online.Tests/bin/Debug/EntityFramework.xml
ASX.Online.Tests/bin/Debug/Microsoft.Data.Edm.xml
ASX.Online.Tests/bin/Debug/Microsoft.Data.OData.xml
ASX.Online.Tests/bin/Debug/Microsoft.Web.WebPages.OAuth.xml
ASX.Online.Tests/bin/Debug/Newtonsoft.Json.xml
ASX.Online.Tests/bin/Debug/System.Spatial.xml
ASX.Online.Tests/bin/Debug/System.Web.Helpers.xml
ASX.Online.Tests/bin/Debug/System.Web.Http.OData.xml
ASX.Online.Tests/bin/Debug/System.Web.Mvc.xml
ASX.Online.Tests/bin/Debug/System.Web.Razor.xml
ASX.Online.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
ASX.Online.Tests/bin/Debug/System.Web.WebPages.Razor.xml
ASX.Online.Tests/bin/Debug/System.Web.WebPages.xml
ASX.Online.Tests/obj/Debug/ASX.Online.Tests.csproj.FileListAbsolute.txt
ASX.Online.Tests/obj/Debug/ASX.Online.Tests.csprojResolveAssemblyReference.cache
ASX.Online.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASX.Online.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ASX.Online.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ASX.Online.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs