@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2>
<p>My name is Herman Gouw.</p>
<p>I am a software developer with over 25 years experience.</p>
<p>In the past I have done programming in Pascal, Fortran and C++ using mainframe computers, mini computers as well as desktop computers.</p>
<p>Since 2001, I have been programming with .NET, C#, SQL Server, WebForms, WinForms, MVC, WebApi as well as WCF.</p>
