@{
    ViewBag.Title = "Default";
}

<h2>About Me</h2>
<p>My name is Herman Gouw.</p>
<p>I am a software developer with over 25 years experience.</p>
<p>For the last 15 years, I have been working with .NET and C#.</p>
