@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2>
<p>My name is Herman Gouw from Sydney, Australia.</p>
<p>I am a software developer with over 25 years experience.</p>
<p>In the past I have developed software in Pascal, Fortran and C++ on mainframe computers, mini computers as well as desktop computers.</p>
<p>Since 2001 I have been developing software with Microsoft technologies (.NET, C#, SQL Server, ASP.NET, ASP.NET MVC, ASP.NET Web API, WCF Service as well as Windows Forms).</p>
<p>I am currently working on Microsoft Azure cloud technologies.</p>
<p>This website was developed with and is hosted on Microsoft Azure.</p>