@{
    ViewBag.Title = "Stock Charts";
}

<h2>Stock Charts</h2>
<p>I have many passions in life, one of which is stock trading.</p>
<p>I developed this page as the tool I use for my stock trading activities.</p>